{{#if eaten}}
<div class="row">
	<div class="col-md-7 col-sm-12">
		<p class="text-md-right text-sm-center">{{name}}</p>
	</div>
	<div class="col-md-5 col-sm-12">
		<div class="row justify-content-md-start justify-content-sm-center">
		<button class="eat-burger btn btn-primary" data-id="{{id}}" data-newdevour="{{eaten}}">
			Eat It!
		</button>

		<button class="delete-burger btn btn-primary" data-id="{{this.id}}">No Burger For You</button>
		</div>
	</div>
</div>
{{else}}
<div class="row">
	<div class="col-md-7 col-sm-12">
		<p class="text-md-right text-sm-center">{{name}}</p>
	</div>
	<div class="col-md-5">
		<div class="row justify-content-md-start justify-content-sm-center justify-content-xsm-center">
	<button class="delete-burger btn btn-primary" data-id="{{this.id}}">No Burger For You!</button>
	</div>
	</div>
</div>
{{/if}}